<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = User.avatar_url(@user, 128) %>
            <% unless avatar_url.nil? %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, "post") %>,
                    <%= pluralize(@user.comments.count, "comment") %>
                </small>
            </div>
        </div>
    </div>
</div>

<% if any_posts? %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% else %>
    <h2><%= @user.name %> has not submitted any posts.</h2>
<% end %>

<% if any_comments? %>
    <h2>Comments</h2>
    <%= render @user.comments %>
<% else %>
    <h2> <%= @user.name %> has not submitted any comments. </h2>
<% end %>

<% if any_favorites? %>
    <h2>Favorites</h2>
    <% @user.favorites.each do |favorite| %>
        <% post = Post.find(favorite.post_id) %>
        <%= image_tag User.avatar_url(post.user, 48), class: 'pull-left fav_avatar' %>
        <%= render post %>
    <% end %>
<% else %>
    <h2> <%= @user.name %> has not favorited any posts. </h2>
<% end %>
    